name: Python application CI

on:
  # Suoritetaan, kun koodia työnnetään main-haaraan
  push:
    branches: [ main ]
  # Suoritetaan myös, kun luodaan Pull Request, joka kohdistuu main-haaraan
  pull_request:
    branches: [ main ]

jobs:
  build:
    # Työnkulku ajetaan Windows-virtuaalikoneessa, koska sovellus on Windows-spesifinen
    runs-on: windows-latest

    steps:
    # Vaihe 1: Kloonaa projektin koodi virtuaalikoneelle
    - uses: actions/checkout@v4

    # Vaihe 2: Asentaa määritellyn Python-version
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    # Vaihe 3: Asentaa kehityksessä tarvittavat riippuvuudet (pytest, coverage)
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt

    # Vaihe 4: Suorittaa staattisen analyysin flake8:lla
    - name: Lint with flake8
      run: |
        flake8 . --count --show-source --statistics

    # Vaihe 5: Suorittaa tyyppitarkistuksen mypy:llä
    - name: Check types with mypy
      run: |
        mypy .

    # Vaihe 4: Suorittaa testit pytestillä. Asetukset (kattavuusraportti, fail-under) tulevat pytest.ini-tiedostosta.
    - name: Test with pytest
      run: python -m pytest